.task {
  border-radius: 4px;
  min-height: 5rem;
  color: black;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  cursor: move;
}

/* .bottomWrapper {
  display: flex;
  justify-content: space-between;
} */

.status {
  /* font-weight: bold; */
  background: var(--COLOR-GRAY-LIGHT);
  padding: 0.25rem;
  border-radius: 4px;
}

.ONGOING {
  display: flex;
  align-items: center;
  background: var(--COLOR-ONGOING);
}

.DONE {
  display: flex;
  align-items: center;
  background: var(--COLOR-DONE);
}

.PLANNED {
  display: flex;
  align-items: center;
}

/* .task img {
  height: 1.45rem;
  cursor: pointer;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;
